{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container text-center mt-5">
    <h1 class="mb-5 mt-5">Films de la catégorie {{categorie.label}}</h1>
    <div class="row">
        {% for movie in categorie.movies %}
        <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3'>
            <div class="card me-1 ms-1 h-100">
                <img src="{{movie.imageUrl}}" class="card-img-top" alt="{{movie.title}}">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text">
                    {% for categorie in movie.categories %}

                      {{categorie.label}},
                    
                    {% endfor %}
                    </p>
                    <p class="card-text">{{movie.description}}</p>
                    <a href="{{ path('app_detail', {'id':movie.id})}}" class="btn btn-primary">Voir Detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<a href="{{ path('app_home')}}" class="btn btn-primary">Retour</a>

{% endblock %}