{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="container text-center"> 
    <h1 class="mb-3">Mail : {{user.email}}</h1>  
    {% for role in user.roles %}      
    <p class="mb-3">Rôle : {{role}}</p>  
    {% endfor %}
    <p class="mb-3">Date de naissance : {{user.password}}</p>  
</div>

<a href="{{ path('app_home')}}" class="btn btn-primary">Retour</a>
<a href="{{ path('app_director_form')}}" class="btn btn-primary">Modifier</a>

{% endblock %}